#  *.py[co]

#  Packages
#  *.egg-info
#  dist
#  eggs
#  bin
#  sdist
#  .installed.cfg

#  Installer logs
#  
#  Unit test / coverage reports
#  .tox
#  Translations
#  
#Mr Developer
#  .DS_Store

#docs
#  
# IDE
#  